    body {
      background-color: #fafafa;
      color: black;
      font-family: cursive;
      font-size: 20px;
      text-align: inherit;
      text-indent: inherit;
      letter-spacing: normal;

      /* mareste sau miscoreaza dimensiunea dinte caractere */
    }

    a {
      text-decoration: none;
    }

    /* css code*/
    hr {
      border-style: none;
      border-top-style: dotted;
      border-color: grey;
      border-width: 5px;
      width: 5%;
    }

    h1 {
      color: #66BFBF;
    }

    h3 {
      color: #111d5e;
    }

    .avatar {
      border-radius: 50%;
    }

    #nume {
      color: #015668;
      font-family: cursive;
      font-size: 45px;
      letter-spacing: 2px;

    }
